.filter-item {
  font-size: 0.9375rem;
  background-color: var(--color-secondary);
  padding: 0.625rem;
  margin-right: 0.625rem;
  color: var(--color-white);
  margin-bottom: 0.3125rem;
  margin-top: 0.3125rem;
  cursor: pointer;
  transition: background-color 1s;
}

.filter-item:hover {
  background-color: var(--color-secondary);
  transition: background-color 1s;
}
