.books {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.625rem;
  width: 100%;
  height: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

@media only screen and (min-width: 1024px) {
  .books {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
