.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  background-color: var(--color-secondary);
  box-shadow: 0 0.938rem 0.625rem -0.938rem var(--color-secondary);
}

.header-wrapper__logo {
  height: 8rem;
  width: 14rem;
}
