.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6.25rem;
  background-color: var(--color-secondary);
  box-shadow: 0 0.586rem 0.391rem -0.586rem var(--color-secondary);
}

.header-wrapper__logo {
  height: 5rem;
  width: 8.75rem;
}
