.filter-menu {
  font-size: 1.5rem;
  background-color: var(--color-secondary);
  padding: 1rem;
  margin-right: 1rem;
  color: var(--color-white);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: background-color 1s;
}

.filter-menu__items {
  display: flex;
  flex-direction: row;
}
