.filters-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.625rem;
  width: 100%;
}

.filters {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
}

.filters__btn {
  padding: 0.625rem;
  font-size: 0.9375rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  outline: none;
  cursor: pointer;
  transition: background-color 1s;
}

.filters__btn:hover {
  background-color: var(--color-primary);
  transition: background-color 1s;
}

.filters__menus {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 100%;
  padding: 0.625rem;
  background-color: var(--color-primary);
}

.filters__show-all {
  font-size: 0.9375rem;
  background-color: var(--color-secondary);
  padding: 0.625rem;
  margin-right: 0.625rem;
  color: var(--color-white);
  margin-bottom: 0.3125rem;
  margin-top: 0.3125rem;
  cursor: pointer;
  transition: background-color 1s;
}
